<ion-tabs>
<!-- Deprecated
  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="details">
    <ion-router-outlet name="details"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="add">
    <ion-router-outlet name="add"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="edit">
    <ion-router-outlet name="edit"></ion-router-outlet>
  </ion-tab>
-->
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="details" href="/tabs/(details:null)">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Details</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" href="/tabs/(add:add)">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edit" href="/tabs/(edit:null)">
      <ion-router-outlet name="edit"></ion-router-outlet>
      <ion-icon name="create"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>